<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>

    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">

    <script>
      ons.bootstrap()
      .controller('AppController', function() {
      this.pushes = 0;
      this.pops = 0;
      });
      ons.ready(function() {
      console.log("Onsen UI is ready!");
      });
    </script>
    <!-- loadindEvent -->
    <script>
      function jumpPage() {
       navi.pushPage('map.html')
      }
      document.addEventListener("init", function(event) {
	  var page = event.target;
	  if(page.id === "loading") {
	  setTimeout("jumpPage()",5000)
      }
      });
    </script>
    <!-- endLoadingEvent -->

    <!-- Google Map -->
    <!-- Google Maps JavaScript API: AIzaSyAr-M4xQh2xLBloiUpCTkvIv_PTyNisl_k -->
    <style type="text/css">
      @charset "utf-8";
      #map-1 {
      height: 650px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr-M4xQh2xLBloiUpCTkvIv_PTyNisl_k"></script>
    <script type="text/javascript" src="lib/gmaps/gmaps.js"></script>
    <script>
      window.onload = function(){
      var map = new GMaps({
      div: "#map-1",
      lat: 35.710285,
      lng: 139.77714,
      zoom: 15,
      });
      };
    </script>
    <!-- END Google Map -->

  </head>
  <body>

    <ons-navigator
      var="navi"
      page="toppage.html"
      ng-controller="AppController as app"
      ons-postpush="app.pushes = app.pushes + 1"
      ons-postpop="app.pops = app.pops + 1">
    </ons-navigator>

    <audio autoplay loop>
      <source src="audio/bgm_1.mp3" type="audio/mp3">
    </audio>

    <!-- TopPage -->
    <ons-template id="toppage.html">
      <ons-page id="toppage">
        <div class="toppage-container">
          <div class="title-name">
            <p>Test of courage</p>
          </div>
          <div class="start-button">
            <p ng-click="navi.pushPage('menu.html')">Start<p>
          </div>
        </div><!-- toppage_box -->
      </ons-page>
    </ons-template>

    <!-- Menu -->
    <ons-template id="menu.html">
      <ons-page id="menu">
          <div class="left">
            <ons-back-button>
              <font class="back-button">Back</font>
            </ons-back-button>
          </div>
          <div class="member-container">
            <div class="container-inner">
              <p class="menu-title-text">Menu</p>
              <p class="select-menu" ng-click="navi.pushPage('gather.html')">チームを作る</p>
              <p class="select-menu" ng-click="navi.pushPage('gather-load.html')">チームに参加する</p>
              <p class="select-menu">プロフィールの設定</p>
              <p class="select-menu">遊び方</p>
            </div><!-- contaner-inner -->
          </div><!-- member-container -->
        <div class="member">
      </ons-page>
    </ons-template>

    <!-- Gather -->
    <ons-template id="gather.html">
      <ons-page id="gather">
        <div class="left">
          <ons-back-button>
            <font class="back-button">Back</font>
          </ons-back-button>
        </div>
        <div class="gather-container">
          <p class="gather-title-text">メンバー募集</p>
          <div class="gathered-member">
            <p class="member-number">Member I</p>
            <p class="member-name">Shohei Ueda</p>
          </div>
          <div class="gathered-member">
            <p class="member-number">Member II</p>
            <p class="member-name">Akihiko Mizuno</p>
          </div>
          <div class="gathered-member">
            <p class="member-number">Member III</p>
            <p class="member-name">Kaisei Shimura</p>
          </div>
          <div class="gathered-member">
            <p class="member-number">Member IV</p>
            <p class="member-name">Taro Aizu</p>
          </div>
          <div class="gathered-member">
            <p class="member-number">Member V</p>
            <p class="member-name">Zashiki Warashi</p>
          </div>
          <div class="gathered-member">
            <p class="member-number">Member VI</p>
            <p class="member-name">Oni</p>
          </div>
          <div class="next-button">
            <p class="next-button-next" ng-click="navi.pushPage('role.html')">Next</p>
          </div>
        </div><!-- gather-container -->
      </ons-page>
    </ons-template>

    <!-- Gather load  -->
    <ons-template id="gather-load.html">
      <ons-page id="gather-load">
        <div class="left">
          <ons-back-button>
            <font class="back-button">Back</font>
          </ons-back-button>
        </div>
        <div class="gather-load-container">
          <p class="gather-load-title-text">メンバー募集</p>
          <div class="gather-load-member">
            <p class="gather-load-member-number">Member I</p>
            <p class="gather-load-member-name">Shohei Ueda</p>
          </div>
          <div class="gather-load-member">
            <p class="gather-load-member-number">Member II</p>
            <p class="gather-load-member-name">Akihiko Mizuno</p>
          </div>
          <div class="gather-load-member">
            <p class="gather-load-member-number">Member III</p>
            <p class="gather-load-member-name">Kaisei Shimura</p>
          </div>
          <div class="gather-load-member">
            <p class="gather-load-member-number">Member IV</p>
            <p class="gather-load-member-name">Taro Aizu</p>
          </div>
          <div class="gather-load-member">
            <p class="gather-load-member-number">Member V</p>
            <p class="gather-load-member-name">Zashiki Warashi</p>
          </div>
          <div class="gather-load-member">
            <p class="gather-load-member-number">Member VI</p>
            <p class="gather-load-member-name">Oni</p>
          </div>
          <div class="next-button">
            <p class="next-button-next" ng-click="navi.pushPage('loading.html')">Next</p>
          </div>
        </div><!-- gather-container -->
      </ons-page>
    </ons-template>

    <ons-template id="role.html">
      <ons-page id="role">
        <ons-back-button>
          <font class="back-button">Back</font>
        </ons-back-button>
        <div class="role-container">
          <p class="role-title-text">役職</p>
          <div class="role-member">
            <p class="role-member-name">Shohei Ueda</p>
            <ons-switch class="role-member-checkbox"></ons-switch>
          </div>
          <div class="role-member">
            <p class="role-member-name">Akihiko Mizuno</p>
            <ons-switch class="role-member-checkbox"></ons-switch>
          </div>
          <div class="role-member">
            <p class="role-member-name">Kaisei Shimura</p>
            <ons-switch class="role-member-checkbox"></ons-switch>
          </div>
          <div class="role-member">
            <p class="role-member-name">Taro Aizu</p>
            <ons-switch class="role-member-checkbox"></ons-switch>
          </div>
          <div class="role-member">
            <p class="role-member-name">Zashiki Warashi</p>
            <ons-switch class="role-member-checkbox"></ons-switch>
          </div>
          <div class="role-member">
            <p class="role-member-name">Oni</p>
            <ons-switch class="role-member-checkbox"></ons-switch>
          </div>
          <div class="role-explain">
            <ons-switch checked class="role-explain-checkbox"></ons-switch>

            <!--
            <label class="switch">
              <input type="checkbox" class="switch__input" id="null" checked="true">
              <div class="switch__toggle">
                <div class="switch__handle"></div>
              </div>
            </label>
            -->

            <p class="role-explain-text">脅かす</p>
          </div>
          <div class="role-explain">
            <ons-switch class="role-explain-checkbox"></ons-switch>
            <p class="role-explain-text">逃げる</p>
          </div>
          <div class="next-button">
            <p class="next-button-next" ng-click="navi.pushPage('map.html')">Next</p>
          </div>
        </div><!-- role-container -->
      </ons-page>
    </ons-template>


    <!-- loading -->
    <ons-template id="loading.html">
      <ons-page id="loading">
	<div class="left">
	</div>
	<div class="loading-container">
	  <div class="container-inner">
	    <p class="loading-text">ローディング中...</p>
	  </div>
	</div><!-- loading-container -->
      </ons-page>
    </ons-template>

    <!-- Map -->
    <ons-template id="map.html">
      <ons-page>
        <ons-toolbar>
          <div class="left">
            <ons-back-button>Back</ons-back-button>
          </div>
          <div class="center">Test of courage</div>
        </ons-toolbar>
        <p>
          This is a map
        </p>
        <section style="padding: 10px">
          <ons-button ng-click="navi.pushPage('item.html')">
            Item
          </ons-button>

          <h3>My Google Maps Demo</h3>

          <div id="map-1"></div>

          <p>
            You have pushed {{ app.pushes }} times and popped {{ app.pops }} times.
          </p>
        </section>
      </ons-page>
    </ons-template>

    <!-- アイテムの生成と配置 -->
    <ons-template id="item.html">
      <ons-page>
        <ons-toolbar>
          <div class="left">
            <ons-back-button>Back</ons-back-button>
          </div>
          <div class="center">Test of courage</div>
        </ons-toolbar>
        <p>
          アイテムの生成と配置をここで行います。
        </p>
        <section style="padding: 10px">
          <ons-button ng-click="navi.pushPage('ranking.html')">
            Push Page
          </ons-button>

          <p>
            You have pushed {{ app.pushes }} times and popped {{ app.pops }} times.
          </p>
        </section>
      </ons-page>
    </ons-template>

    <!-- Ranking -->
    <ons-template id="ranking.html">
      <ons-page id="ranking">
	<ons-scroller style="height: 200px; width: 100%">
	<div class="left">
	  <ons-back-button>
	    <font class="back-button">Back</font>
	  </ons-back-button>
	</div>
	<div class="ranking-container">
	  <p class="ranking-title-text">Ranking</p>
	  <div class="ranking-member">
	    <p class="ranking-member-name">Akihiko Mizuno</p>
	    <p class="ranking-member-score">56 scores</p>
	  </div>
	  <div class="ranking-member">
	    <p class="ranking-member-name">Kaisei Shimura</p>
	    <p class="ranking-member-score">44 scores</p>
	  </div>
	  <div class="ranking-member">
	    <p class="ranking-member-name">Zashiki Warahi</p>
	    <p class="ranking-member-score">99 scores</p>
	  </div>
	  <div class="ranking-member">
	    <p class="ranking-member-name">Oni</p>
	    <p class="ranking-member-score">78 scores</p>
	  </div>
	  <div class="ranking-member">
	    <p class="ranking-text-onryou"> １番のビビリは</p>
	    <p class="ranking-text-bloodyslime">Zashiki Warashi</p>
	    <p class="ranking-text-onryou">です。</p>
	  </div>

	  <div class="next-button">
	    <p class="next-button-next" ng-click="navi.pushPage('ranking.html')">Next</p>
	  </div>
	</div><!-- ranking-container -->
	</ons-scroller>
      </ons-page>
    </ons-template>
  </body>
</html>
